#header{
    display: flex;
    justify-content: space-around;    
    font-size: 20px;
    
}
#page{
    background-color: #FACFCC;
    border-radius: 40px;
    border: solid 8px;
    border-color: #FACFCC;
    font-size: 20px;
}
input{
    border-radius: 70px;
    height: 40px;
    width: 370px;
    text-align: center;
    margin: 2%;  
}

button{
    border-radius: 70px;
    width: 120px;
    height: 40px;
    margin: 2%;
}
.search{
    margin:1%  
}
button{
    background-color:#AA9293;
}
.body{
    display: flex;
    justify-content: space-around;
}
.image{
    margin-left: 5%;
    width:70%;

}
.message{
    font-size: 30px;
    color: rebeccapurple;
    margin-left: 15%;
}
.advert{
    margin-left: 15%;
}
#footer{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    background-color: white;
}
@media only screen and (min-width: 280px) and (max-width: 420px){
    #header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;    
        font-size: 20px;
        
    }
    #page{
        background-color: #FACFCC;
        border-radius: 40px;
        border: solid 2px;
        border: none;
        font-size: 20px;
    }
    input{
        border-radius: 70px;
        height: 30px;
        width: 270px;
        text-align: center;
        margin: 2%;  
    }
    .want{
        height: 30px;
        width: 200px;
    }
    
    
    button{
        border-radius: 70px;
        width: 90px;
        height: 30px;
        margin: 2%;
    }
    .search{
        margin:1%;
        margin-right: 2%;
    }
    button{
        background-color:#AA9293;
    }
    .body{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    .image{
        margin-left: 1%;
        margin-right: 2%;
        width:80%;
    
    }
    .message{
        font-size: 30px;
        color: rebeccapurple;
        margin-left: 15%;
    }
    .advert{
        margin-left: 15%;
        margin-right: 10%;
        text-align: center;
    }
    #footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-size: 10px;
        background-color: white;
    }

}


@media only screen and (max-width: 430px){
    #header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;    
        font-size: 2
        15px;
        
    }
    #page{
        background-color: #FACFCC;
        border-radius: 40px;
        border-radius: 20px;
        font-size: 15px;
    }
    input{
        border-radius: 70px;
        height: 40px;
        width: 300px;
        text-align: center;
        margin: 2%;  
    }
    
    button{
        border-radius: 70px;
        width: 120px;
        height: 40px;
        margin: 2%;
    }
    .search{
        margin:1%  
    }
    button{
        background-color:#AA9293;
    }
    .body{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .image{
        margin-left: 5%;
        width:90%;
    
    }
    .message{
        font-size: 30px;
        color: rebeccapurple;
        margin-left: 15%;
    }
    .advert{
        margin-left: 15%;
    }
    #footer{
        display: flex;
        justify-content: space-around;
        font-size: 15px;
        background-color: white;
    }
    } 




    @media only screen and (max-width: 540px){
        #header{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;    
            font-size: 2
            15px;
            
        }
        #page{
            background-color: #FACFCC;
            border-radius: 40px;
            border-radius: 20px;
            font-size: 15px;
        }
        input{
            border-radius: 70px;
            height: 40px;
            width: 300px;
            text-align: center;
            margin: 2%;  
        }
        
        button{
            border-radius: 70px;
            width: 120px;
            height: 40px;
            margin: 2%;
        }
        .search{
            margin:1%  
        }
        button{
            background-color:#AA9293;
        }
        .body{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .image{
            margin-left: 5%;
            width:90%;
        
        }
        .message{
            font-size: 30px;
            color: rebeccapurple;
            margin-left: 15%;
        }
        .advert{
            margin-left: 15%;
        }
        #footer{
            display: flex;
            justify-content: space-around;
            font-size: 15px;
            background-color: white;
        }
        } 

        